<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <File name="connectionLog" fileName="log/connection.log">
            <PatternLayout>
                <Pattern>%d %p %c{10.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="rootLog" fileName="log/root.log">
            <PatternLayout>
                <Pattern>%d %p %c{10.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name= "Connection.Connection" level="info" additivity="true">
            <AppenderRef ref="connectionLog"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="rootLog"/>
        </Root>
    </Loggers>


</Configuration>